.container {
    text-align: center;
    height: 100%;
    position: relative;
    top: 10%;
}

.skill_card {
    background: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 2rem;
    text-align: left;
    transition: var(--transition);
    gap: 10rem;
    padding: 2rem;
    margin: 2rem;
}
.skill_card_mobile {
    background: var(--color-blue);
    border: 1px solid var(--color-blue);
    border-radius: 2rem;
    text-align: left;
    transition: var(--transition);
    gap: 10rem;
    padding: 2rem;
    margin: 2rem;
    color: white;
}
.skill_card:hover {
    background: var(--color-bg);
    border: 2px solid var(--color-second);
}
.skill_card h2, .skill_card_mobile h2 {
    text-align: center;
}
.skill_card_mobile:hover {
    background: var(--color-bg);
    border: 2px solid var(--color-blue);
    color: black;
}
.container_skill_card {
    display:flex;
    flex-direction: row;
    justify-content: center;
}
/* responsive lage device */
@media screen and (max-width:1024px) {
    /* .container{
        width: 90%;
    } */
}

/* responsive small device */
@media screen and (max-width:600px) {
    /* .container{
        width: 100%;
    } */
    .container_skill_card {
        flex-direction: column;
    }

}