header {
    height: 100vh;
    overflow: hidden;
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}

.downloadContainer {
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.header_social {
    background: var(--color-blue);
    width: max-content;
    display: block;
    padding: 0.5rem 0.5rem;
    z-index: 2;
    position: fixed;
    right: 10%;
    transform: translate(-70%);
    top: 5rem;
    gap: 0.5rem;
    border-radius: 3rem;
    backdrop-filter: blur(20px);
}

.header_social a {
    background: transparent;
    padding: 0.9rem;
    border-radius:50% ;
    display: flex;
    color: var(--color-white);
    font-size: 1rem;
}

.header_social a.active {
    background: var(--color-blue-light);
    color: white;
}

.proflie {
    margin-top: 2.5rem;
}

/* responsive lage device */
@media screen and (max-width:1024px) {
    header {
        height: 100%;
    }
    .header_social {
        display: none;
    }
    
}
/* responsive small device */
@media screen and (max-width:600px) {
    header {
        height: 100%;
    }
    .header_social{
        display: none;
    }
}