/* .container {
    text-align: center;
    height: 70%;
    position: relative;
    top: 5%;
} */
.about_container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10rem;
    margin: 5rem;
}

.about_me {
    width: 100px;
    height: 100px;
    z-index: -1;
    opacity: 1;
    aspect-ratio: 1/1;
    display:grid;
    place-items: center;
    background: var(--color-purple);
    border-radius: 50%;
}

.about_me_image {
    width: 300px;
    height: 300px;
    aspect-ratio: 1/1;
    display:grid;
    place-items: center;
    background: var(--color-primary);
    border-radius: 100%;
}

.about_all_card {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 2rem;
}
.about_card {
    background: var(--color-blue);
    color: var(--color-bg);
    border: 2px solid var(--color-blue);
    border-radius: 2rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
}
.about_card:hover {
    background: var(--color-bg);
    color: var(--color-black);
    border: 2px solid var(--color-primary);
}
.about_card_icon {
    font-size: 1.5rem;
}
.about_card h5 {
    font-size: 1rem;
}
.about_card small {
    font-size: 0.7rem;
}
.about_content p {
    margin: 2.5rem;
}


/* responsive lage device */
@media screen and (max-width:1024px) {
    .container {
        height: 100vh;
        font-size: 0.7rem;
    }
    .container h1 {
        font-size: 2.5rem;
    }
   .about_container {
       grid-template-columns: 1fr;
       gap: 0;
   }

   .about_me {
    display: none;
   }
   .about_all_card{
        grid-template-columns: repeat(3,30%);
        gap: 1rem;
   }
   .about_content p {
       margin: rem 0 1.5rem;
   }
    
}
/* responsive small device */
@media screen and (max-width:600px) {
    .container{
        width: 100vh;
        height: 80%;
    }
    .about_me {
        display: none;
    }
    .about_all_card {
        grid-template-columns: repeat(3,32%);
        gap: 0.5rem;
    }
    .about_card {
        padding: 0.5rem;
    }
    .about_content p {
        margin: 1.5rem 1rem;
    }
    .about_container {
        margin: 10px;
    }
}